<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Full Width Pics - Start Bootstrap Template</title>
    
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <!-- Fonts CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='heading.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='body.css') }}">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='full-width-pics.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">AUTO-REPAIR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image:">
    <img src="{{ url_for('static', filename='AAA.jpg') }}" alt="AAA" width="1450" height="400">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>AAA</h1>
      <p class="lead">Established in 1902 by nine motor clubs with fewer than 1,500 members, today AAA provides more than 61 million members with automotive, travel, insurance and financial services through its federation of 32 motor clubs and more than 1,000 branch offices across North America. <a href="https://www.aaa.com/">AAA Link</a> </p>
    </div>
  </section>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image:">
    <img src="{{ url_for('static', filename='jiffylube.jpg') }}" alt="Jiffy Lube" width="1450" height="400">
  </header>
    
  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Jiffy Lube</h1>
      <p class="lead">Jiffy Lube is a leading provider of automotive preventive maintenance. With a national footprint of more than 2,000 franchisee owned service centers across the country, Jiffy Lube offers a range of services from oil changes and tire rotations, to everything in between.<a href="https://www.jiffylube.com/"> Jiffy Lube Link</a> </p>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-secondary">
    <div class="container">
      <p class="m-0 text-center text-white">Apprentices of Invoca   |   Service Buddy</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
