<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Full Width Pics - Start Bootstrap Template</title>
    
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{{ url_for('static',filename='styles.css') }}" rel="stylesheet">
  <!-- Fonts CSS-->
  <link rel="stylesheet" href="{{ url_for('static',filename='heading.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='body.css') }}">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='full-width-pics.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">RIDE-SHARE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image:">
    <img src="{{ url_for('static',filename='uber.jpg') }}" alt="Uber" width="1450" height="400">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Uber</h1>
      <p class="lead">It started as a simple idea: What if you could request a ride from your phone? But what began as just a thought quickly grew into a global brand focused on helping move you toward opportunity out in the world. <a href="https://www.uber.com/us/en/ride/">Uber Link</a> </p>
    </div>
  </section>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image:">
    <img src="{{ url_for('static',filename='taxi.jpg') }}" alt="Taxi" width="1450" height="400">
  </header>
    
  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Taxi</h1>
      <p class="lead">Green Taxi is an affordable taxi company that has been serving Santa Barbara county more than fifteen years. Green Taxi is locally owned and operated and features only the most environmentally friendly Prius taxis. They also offer your choice of music in our taxicabs so that our passengers can simply enjoy the ride. <a href="https://sbgreentaxi.com/"> Taxi Link</a> </p>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-secondary">
    <div class="container">
      <p class="m-0 text-center text-white">Apprentices of Invoca   |   Service Buddy</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
