<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Full Width Pics - Start Bootstrap Template</title>
    
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{{ url_for('static',filename='styles.css') }}" rel="stylesheet">
  <!-- Fonts CSS-->
  <link rel="stylesheet" href="{{ url_for('static',filename='heading.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='body.css') }}">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='full-width-pics.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">MOVIES</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image:">
    <img src="{{ url_for('static',filename='AMC background.jpeg') }}" alt="AMC" width="1450" height="400">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>AMC</h1>
      <p class="lead">With best-in-class amenities such as plush, power recliners, MacGuffins full bars, AMC Dine-In Theatres, premium presentation formats including Dolby Cinema at AMC and IMAX, AMC is recognized as the industry leader and an iconic destination for movie-goers.  <a href="https://www.amctheatres.com/">AMC Link</a> </p>
    </div>
  </section>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image:">
    <img src="{{ url_for('static',filename='netflix.jpg') }}" alt="Netflix" width="1450" height="400">
  </header>
    
  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Netflix</h1>
      <p class="lead">Netflix seeks to entertain the world. Whatever your taste, and no matter where you live, they give you access to best-in-class TV shows, movies and documentaries. Members control what they want to watch, when they want it, with no ads, in one simple subscription. <a href="https://www.netflix.com/browse">Netflix Link</a> </p>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-secondary">
    <div class="container">
      <p class="m-0 text-center text-white">Apprentices of Invoca   |   Service Buddy</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
