<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Full Width Pics - Start Bootstrap Template</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static',filename='styles.css') }}" rel="stylesheet" />
    <!-- Fonts CSS-->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='heading.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='body.css') }}"
    />

    <!-- href= "{{ url_for('static',filename='styles/full-width-pics.css') }}" -->

    <!-- Custom styles for this template -->
    <link
      href="{{ url_for('static',filename='full-width-pics.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">PIZZA</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image:">
      <img
        src="{{ url_for('static', filename='woodstocks.jpg')}}"
        alt="Woodstocks"
        width="1450"
        height="400"
      />
    </header>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>Woodstock's</h1>
        <p class="lead">
          Woodstock's has eight locations in California and is ranked the #1
          independent pizzeria in the US in 2019 (based on sales). Our mission
          is still to earn loyal customers and team members by providing the
          Ultimate Pizza Experience.<a href="https://woodstocksiv.com/">
            Woodstocks Link</a
          >
        </p>
      </div>
    </section>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image:">
      <img
        src="{{ url_for('static', filename='dominos.jpeg')}}"
        alt="Dominos"
        width="1450"
        height="400"
      />
    </header>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>Domino's</h1>
        <p class="lead">
          Founded in 1960, Domino's is the recognized world leader in pizza
          delivery operating a network of company-owned and franchise-owned
          stores in the United States and international markets. Domino's is a
          company of exceptional people on a mission to be the best pizza
          delivery company in the world.<a href="https://www.dominos.com/en/">
            Domino's Link</a
          >
        </p>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-secondary">
      <div class="container">
        <p class="m-0 text-center text-white">
          Apprentices of Invoca | Service Buddy
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
