<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Full Width Pics - Start Bootstrap Template</title>
    
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{{ url_for('static',filename='styles.css') }}" rel="stylesheet">
  <!-- Fonts CSS-->
  <link rel="stylesheet" href="{{ url_for('static',filename='heading.css') }}">
  <link rel="stylesheet" href="css/body.css">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='body.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">RESTAURANT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image:">
    <img src="{{ url_for('static',filename='panda express.jpeg') }}" alt="Panda" width="1450" height="400">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Panda Express</h1>
      <p class="lead">Panda Express is an American fast food restaurant chain that serves American Chinese cuisine. With over 2,200 locations, it is the largest Asian segment restaurant chain in the United States, where it was founded and is mainly located.<a href="https://www.pandaexpress.com/"> Panda Express Link</a> </p>
    </div>
  </section>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image:">
    <img src="{{ url_for('static',filename='chipotle.jpg') }}" alt="Chipotle" width="1450" height="400">
  </header>
    
  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Chipotle</h1>
      <p class="lead">Chipotle is an American restaurant chain that serves a simple menu of Mexican-inspired food. Founded in Denver, Colorado, in 1993 by Steve Ells, a classically trained chef, Chipotle has grown to more 2,000 store locations, which together serve over 1 million customers daily.<a href="https://www.chipotle.com/"> Chipotle Link</a> </p>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-secondary">
    <div class="container">
      <p class="m-0 text-center text-white">Apprentices of Invoca   |   Service Buddy</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
